body { 
    background-color: #f2f3ff;
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}
nav, .nav-links {
    padding: 30px 0;
    width: 94%;
    padding-left: 6%;
    display: flex;
    background-color: #ffffff;    
}
.logo img {
    background-color: #ffffff;
    width: 250px;
    height: auto;
    cursor: pointer;

}
.header{
    background:#000000;
    font-family: 'Play', sans-serif;
    text-align:left;
}
.header img.logo {
    position: absolute; /* Position the image absolutely */
    top: 8px; /* Align the image to the top */
    left: 10px; /* Align the image to the left */
    width: 50px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}
.header::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px; /* Adjust the height of the shadowed line */
        
} 
.header .top{
    padding:0.1% 0%;
    width:100%;
    color:rgb(3, 4, 58);
    font-size:1em;
}
.header .top a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    transition:0.5s;
} 
.header .top a:hover{
    color:#7274ff;
} 
.header .top ul li{
    display:inline-block;
    margin:0px 50px;
    padding-left: 60px;
}

.search input {
    outline: none;
    background-color: #ffffff;
    width: 200px;
    padding: 4px;
    font-size: 13px;
    border-radius: 20px;
    border-color: #000000;
}
.search button {
    color: #160287;
    background: none; 
    border: none; 
    cursor: pointer;
    outline: none; 
}
.search-container {
    position: relative;
}
.search-container input[type="text"] {
    background-color: #ffffff;
}
.search-container button {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
/* CSS for the sidebar */
.sidebar {
    font-family: 'Play', sans-serif;
    position: fixed;
    top: 0%;
    right: -250px; /* Initially position it outside the viewport on the right side */
    width: 250px; /* Adjust width as needed */
    height: 100%; /* Take up the full height of the viewport */
    background-color: #000000; /* Sidebar background color */
    transition: right 0.3s ease; /* Add transition for smooth opening and closing */
    z-index: 999; /* Ensure sidebar appears above other content */
}

/* CSS to open the sidebar when active */
.sidebar.active {
    right: 0; /* Position the sidebar to the right when active */
}


.sidebar-header {
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*circles inside each categories*/
.menu {
    font-family: 'Play', sans-serif;
    color: #fffbfb;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    font-family: 'Play', sans-serif;
    padding: 10px;
}

.menu a {
    font-family: 'Play', sans-serif;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 300px;
    height: 80%;
}

.menu-icon{
    padding-top: 20px;
    margin-left: 10%;
    color: #000000;
}


.menu a:hover {
    font-family: 'Play', sans-serif;
    background-color:  #160287;
}

.submenu ul {
    font-family: 'Play', sans-serif;
    display: none;
    padding-left: 20px;
}

.submenu:hover ul {
    display: block;
}

.close-btn {
    font-family: 'Play', sans-serif;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.menu-icon {
    cursor: pointer;
    font-size: 50px; /* Adjust the font size as needed */
    margin-right: 10px; /* Add margin to the right side */
    float: right; /* Align to the right */
}
.custom-select {
    font-family: 'Play', sans-serif;
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    
  }
.topic-select{
    font-family: 'Play', sans-serif;
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
}
  .select-button {
    color: #ffffff;
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    background-color: #160287;
    padding: 7px;
    border: none;   
    cursor: pointer;
    display:block;
    transition: 0.5s;
   
  }
  .select-button:hover{
    color: #000000;
  }
  .sel-button {
    color: #ffffff;
    text-align: end;
    width: 67%;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    background-color: #160287;
    padding: 7px;
    border: none;   
    cursor: pointer;
    display:block;
    transition: 0.5s;

   
  }
  .sel-button:hover{
    color: #000000;
  }
  .main-header{
    display: flex; /* Set the header as flex container */
    background-color: #160287;
  }
 
  .arrow {
    transition: transform ease-in-out 0.2s;
  }
  
  .select-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #f09712;
    margin-top: 0px;
    max-height:max-content;
    overflow-y:auto;
    transition: 0.1s ease;
    transform: scaleY(1);
    opacity: 0;
    visibility:hidden;
  }
  .topic-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #e9e8f0;
    margin-top: 0px;
    max-height:max-content;
    overflow-y:auto;
    transition: 0.1s ease;
    transform: scaleY(1);
    opacity: 0;
    visibility:hidden;
  }
  
  .select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  }
  
  .select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
  }
  
  .select-dropdown li label {
    width: 100%;
    padding: 8px 200px;
    cursor: pointer;
  }
 
  .select-dropdown input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .topic-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  }
  
  .topic-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
  }
  
  .topic-dropdown li label {
    width: 100%;
    padding: 8px 200px;
    cursor: pointer;
  }
 
  .topic-dropdown input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .custom-select.active .arrow {
    transform: rotate(180deg);
  }
  
  .custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  .topic-select.active .arrow {
    transform: rotate(180deg);
  }
  
  .topic-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  .custom-select,
  .topic-select {
      flex: 1; /* Let each element take up equal space */
  }
.category-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform 0.9s ease; /* Adding transition for smooth hover effect */
}
.category-button img {
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
}
.category-button::after {
    content: '';
    display:inline-block;
    width: 100%;
    height: 10px; /* Adjust the height of the shadowed line */
}
.button-text {
    position: absolute;
    top: 61%;  
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 15px;
    padding: 30px 80px;
    border-radius: 4px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}
.category-button:hover .button-text {
    opacity: 1; /* Show text on hover */
}
.category-button:hover {
    transform: scale(1.1); /* Increase size by 20% on hover */
}
.lang-menu {
    position: relative;
}

.lang-menu .selectedLang {
    cursor: pointer;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content:flex-start;
    line-height: 1.5;
    height: 30px;
    width: 58px;
}

.lang-menu .selectedLang:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url(https://flagsapi.com/GB/flat/32.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.lang-menu ul {
    cursor: pointer;
    margin: 0 -110px;
    padding: 0;
    display: none;
    border: 1px;
    position: absolute; 
    width: 100px;
    border-radius: 1px;
    box-shadow: 0px 1px 10px rgba(8, 0, 0, 0.2);
    top: 100%; /* Adjusted position to appear below the selectedLang */
    left: 0; /* Adjusted position to align with the selectedLang */
}

.lang-menu ul li {
    list-style: none;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    width: 60px;
    display: block;
    padding: 5px 5px;
}

.lang-menu ul li a:hover {
    background-color: #000000;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-flex;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.az:before {
    background-image: url(https://flagsapi.com/AZ/flat/32.png);
}

.lang-menu:hover ul {
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}
.news-item {    
    margin: 1%;
    height: 410px;
    width: calc(30% - 1%);
    flex: 0 0 calc(30% - 1px); 
    border-radius: 1px;
    flex-direction: column;
    background-color:#ffffff; /* Set background color to transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */
}
.news-item h2 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.news-image {
    width: 90%;
    height: 250px; 
    align-self:auto; 
    padding-left: 20px;
    padding-right: 20px;
    transition: filter 0.3s ease; /* Adding transition for smooth hover effect */
}
.news-image:hover {
    filter: brightness(60%); /* Reduce brightness to 80% on hover */
}
.news-item p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.7rem;
    line-height: 1;
    color: #646262;
    margin-bottom: 2px;
}
.news-item a {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    color: #6e79e0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
/* Make the remaining items smaller */
.news-item:nth-child(n+4) {
    background-color:#e5e8f5;
    width: calc(20% - 1%);
    height: 200px;
    flex: 0 0 calc(20% - 3%);
    transition: transform 0.3s ease; /* Adding transition for smooth hover effect */

}
.news-item:nth-child(n+4):hover {
    transform: scale(0.9); /* Increase size by 20% on hover */

}
.news-item:nth-child(n+4) h2 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1;
}
.news-item:nth-child(n+4) a {
    color: #ffffff;
}
.news-item:nth-child(n+4) .news-image{
    padding-right: 10px;
    max-width: 60%;
    height: 100px;
    align-self:auto; 
    padding-left: 10px;
}
.news-item:nth-child(n+4) p {
    display: none;
}
.news-item:nth-child(n+9) {
    border-radius: 3px;
    margin: 1px 4px;
    background-color:#ffffff;
    height: 50px;
    width: calc(50% - 1%);
    flex: 0 0 calc(50% - 1%);
    margin-bottom: 0%;

}
.news-item:nth-child(n+9):hover {
    transform: none; /* Increase size by 20% on hover */

}
.news-item:nth-child(n+9) .news-image {
    display: none;
}
.news-item:nth-child(n+9) h2 {
    color: #979696;
    margin-bottom: 0;
}

.news-item:nth-child(n+9) a {
    font-size: 12px;
    color: #d3d3d3;
}
.news-item:nth-child(n+25){
    display: none;
}

.weather-widget {
    background-color: #ffffff;  
}
.weather-icon {
    width: 40px;
  
}
#weather-info {
    font-family: 'Play', sans-serif;
    font-size: 0.8rem;
    color: #00126c;
    display: flex;
}
.date-range-widget {
    flex: 1; /* Let it take up equal space */
    margin-right: 0; /* Remove margin to eliminate gap */
}
#date-range {
    padding: 8px 100px;
    background-color: #160287;
    font-family: 'Play', sans-serif;
    font-style:normal;
    width: auto;
    border: 10px transparent;
    font-size: 14px;
    color: #ffffff;
}
#date-range:focus {
    outline: none;
}
.center-image {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust margin as needed */
}
.center-image img {
    mix-blend-mode: multiply;
    width: 20%; /* Ensure the image doesn't exceed its container */
    height: 20%; /* Ensure the image doesn't exceed its container */
}
.footer{
    background:#000000;
    padding:50px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
.footer .row{
    width:100%;
    padding:0.1% 0%;
    color:rgb(255, 255, 255);
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:rgb(169, 175, 255);
    transition:0.5s;
}
.footer .row a:hover{
    color:#ffffff;
}
.footer .row ul li{
    display:inline-block;
    margin:20px 40px;
}
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}

@media (max-width: 1200px) {
    .container {
        margin-left: 2%;
    }
}

@media (max-width: 1024px) {
    .news-item {
        margin-right: 20%;
        width: calc(40% - 1%);
        flex: 0 0 calc(40% - 1px);
    }
}

@media (max-width: 768px) {
    .news-item {
        margin-right: 10%;
        width: calc(45% - 1%);
        flex: 0 0 calc(45% - 1px);
    }
}

@media (max-width: 576px) {
    .container {
        margin-left: 0;
    }
    .news-item {
        margin-right: 5%;
        width: calc(90% - 10px);
        flex: 0 0 calc(90% - 10px);
    }
}

@media (max-width: 400px) {
    
    .nav-links {
        padding-left: 1%;
        padding-right: 1%;
    }
    .header img.logo {
        width: 25px;
    }
    .lang-menu .selectedLang:before {
        width: 15px;
        height: 12px;
    }
    .weather-widget {
        padding-left: 3%;
    }
}


@media (max-width: 320px) {
    .header img.logo {
        width: 25px;
    }
    .lang-menu .selectedLang:before {
        width: 15px;
        height: 10px;
    }
}



